@model WebBankingApp.Models.Share

@{
    ViewData["Title"] = "Details";
}

<h1>Account: @Model.Account.Id</h1>

<div>
    <h4>Share ID: @Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterestRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterestRate)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Transactions" asp-action="Deposit" asp-route-shareId="@Model?.Id">Deposit</a> |
    <a asp-controller="Transactions" asp-action="Transfer" asp-route-shareId="@Model?.Id">Transfer From</a> 
    <a asp-controller="Transactions" asp-action="ExternalTransfer" asp-route-shareId="@Model?.Id">External Transfer</a>
</div>
<hr />
<div>
    <h4>Transactions</h4>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Amount
            </th>
            <th>
                New Balance
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Transactions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
            </tr>
        }
    </tbody>
</table>
