@model WebBankingApp.Models.Account


@{
    ViewData["Title"] = "Details";
}

<h1>Account: @Model.Id</h1>

<div>
    <hr />

    <h5>
        Shares
    </h5>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Type
                </th>
                <th>
                    Current
                </th>
                <th>
                    Minimum
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var share in @Model.Shares)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(shareId => share.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(shareType => share.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(shareAvailable => share.CurrentBalance)
                    </td>
                    <td>
                        @Html.DisplayFor(shareMinimum => share.MinimumBalance)
                    </td>
                    <td>
                        <a asp-controller="Shares" asp-action="Details" asp-route-id="@share.Id">Details</a> |
                        <a asp-controller="Transactions" asp-action="Deposit" asp-route-shareId="@share.Id">Deposit</a> |
                        <a asp-controller="Transactions" asp-action="Transfer" asp-route-shareId="@share.Id">Transfer From</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

