@model IEnumerable<WebBankingApp.Models.Account>

@{
    ViewData["Title"] = "Shares";
}

<h1>Account Number</h1>
<h2>Shares</h2>
@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shares)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
            @foreach (var member in item.Members)
            {
                @Html.DisplayFor(accountMemberItem => member.Member.Name)
            }
            </td>
            <td>
                @foreach (var share in item.Shares)
                {
                        @Html.DisplayFor(shareItem => share.Type)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
